body {
  @extend %regular-400;
  background-color: $bd;
  color: $white;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  max-width: 140px;
  width: 100%;
  display: inline-block;
  object-fit: contain;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.09);
  }

}