
[class*="__container"] {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  @extend %regular-400;
  background-color: $bd;
  color: $white;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.logo {
  max-width: 140px;
  width: 100%;
  display: inline-block;
  object-fit: contain;
  transition: transform 0.5s;
  margin-right: 10px;
  z-index: 12;

  &:hover {
    transform: scale(1.09);
  }
}

.btn-default {
  @extend %none-btn;
  font-size: 22px;
  color: $white;
  max-width: 175px;
  width: 100%;
  height: 55px;
  padding: 10px;
  border-radius: 20px;
  background-color: $orange;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $orange-hover;
  }

  &:focus {
    outline: 3px solid $dark-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.block-text {
  &__title {
    @extend %bold-700;
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 30px;

    span {
      color: $orange;
    }
  }

  &__text {
    opacity: 0.85;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
}


@media (max-width: $lg) {
  .logo {
    max-width: 100px;
  }

  .btn-default {
    font-size: 20px;
    max-width: 145px;
    height: 50px;
    padding: 7px;
  }

  .block-text {
    &__title {
      font-size: 60px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}


@media (max-width: $md) {
  [class*="__container"] {
    max-width: none;
  }

  .block-text {
    &__title {
      font-size: 40px;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}


@media (max-height: $md) {
  .logo {
    max-width: 70px;
  }

  .block-text {
    &__title {
      font-size: 35px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__started {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $sm) {
  .block-text {
    &__text {
      font-size: 18px;
    }
  }
}