$bd: #101010;
$bd2: #141517;
$dark-blue: #2d2e32;
$white: #ffffff;
$orange: #ef9926;
$orange-hover: #cc8529;
$brown: #231910;


$sm: 565px;
$md: 768px;
$lg: 992px;
$xl: 1300px;


%regular-400 {
  font-family: 'CrimsonPro-Regular', sans-serif;
  font-weight: 400;
}

%medium-500 {
  font-family: 'CrimsonPro-Medium', sans-serif;
  font-weight: 500;
}

%bold-700 {
  font-family: 'CrimsonPro-Bold', sans-serif;
  font-weight: 700;
}

%bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%none-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}