.footer {
  padding: 20px 0;
  background-color: $bd2;
  text-align: center;

  &__logo {
    max-width: 100px;
    margin-right: 0px;
  }
}

@media (max-width: $md) {
  .footer {
    padding: 10px 0;

    &__logo {
      max-width: 60px;
    }
  }
}