.get-started {
  margin-top: 120px;

  &__container {
    position: relative;
  }

  &__container::before {
    content: '';
    position: absolute;
    background-image: url('../images/cover-header1.png');
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  &__content {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__block-text {
    max-width: 576px;
    z-index: 1;

    &__title {
      font-size: 75px;
    }
  }
}


@media (max-width: $lg) {
  .get-started {
    margin-top: 100px;

    &__block-text {
      max-width: 470px;
    }

    &__content {
      height: calc(100vh - 100px);
    }
  }
}

@media (max-width: $md) {
  .get-started {
    margin-top: 80px;

    &__content {
      height: calc(100vh - 80px);
    }

    &__block-text {
      max-width: 370px;
    }
  }
}

@media (max-width: $sm) {
  .get-started {
    &__container::before {
      display: none;
    }
  }
}