.our-history {
  padding: 140px 0;
  background-color: $bd2;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__media {
    max-width: 450px;
    width: 100%;
    object-fit: contain;
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 526px;
    width: 100%;
  }

  .block-text__text {
    p:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}