.our-history {
  padding: 100px 0;
  background-color: $bd2;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__media {
    max-width: 450px;
    width: 100%;
    object-fit: contain;
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 526px;
    width: 100%;
  }

  .block-text__text {
    p:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}



@media (max-width: $xl) {
  .our-history {
    &__media {
      margin-right: 50px;
    }
  }
}

@media (max-width: $md) {
  .our-history {
    padding: 50px 0;
    text-align: center;

    &__container {
      flex-wrap: wrap;
    }

    .block-text {
      &__text {
        p:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    &__media {
      max-width: 250px;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $sm) {
  .our-history {
    &__container {
      flex-wrap: wrap;
    }

    &__media {
      max-width: 200px;
      margin-bottom: 15px;
    }
  }
}